{% extends 'base.html.twig' %}

{% block title %}Hello CsvUploadController!{% endblock %}

{% block body %}

<!DOCTYPE html>
<html>
<head>
    <title>Upload CSV</title>
</head>
<body>
     {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(form) }}
</body>
</html>

{% endblock %}
